@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-12">
        <h3>Books</h3>
        <div class="d-flex justify-content-end mb-1">
            <a asp-controller="Books" asp-action="Create" class="btn btn-primary btn-sm">Create</a>
        </div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Publish Date</th>
                    <th>Authors</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var b in Model)
                {
                    <tr>
                        <td>@b.Title</td>
                        <td>@($"{b.PublishDate:yyyy-MM-dd}")</td>
                        <td>@string.Join(", ", b.BookAuthors.Select(ba=> ba.Author.Name).ToArray())</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
