@model JobProviderInputModel
@{
    ViewData["Title"] = "Profile";
}

<div class="row">
    <div class="col-12">
        <form asp-action="Profile" asp-controller="JobProviders" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group row mb-1">
                <h3>Update your information</h3>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="CompanyName" class="col-form-label col-2 text-end"></label>
                <div class="col-4">
                    <input type="text" asp-for="CompanyName" class="form-control form-control-sm" />
                    <span class="text-danger" style="font-size:small" asp-validation-for="CompanyName"></span>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="CompanyAddress" class="col-form-label col-2 text-end"></label>
                <div class="col-4">
                    <textarea  asp-for="CompanyAddress" class="form-control form-control-sm"></textarea>
                    <span class="text-danger" style="font-size:small" asp-validation-for="CompanyAddress"></span>
                </div>
            </div>

            <div class="form-group row mb-1">

                <div class="col-4 offset-2 text-end">
                    <div class="form-check">
                        <button type="submit" class="btn btn-primary btn-sm">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/validate/jquery.validate.js"></script>

    <script src="~/libs/validate/jquery.validate.unobtrusive.js"></script>
}

