@model IEnumerable<Author>
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-12">
        <h3>Authors</h3>
        <div class="d-flex justify-content-end mb-1">
            <a asp-controller="Authors" asp-action="Create" class="btn btn-primary btn-sm">Create</a>
        </div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Authored/Co-authored</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr>
                        <td>@b.Name</td>
                        <td><a href="mailto:@b.Email" class="btn btn-link">@b.Email</a></td>
                        <td>@b.BookAuthors.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

