@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">

        <link href="~/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />

        <script src="~/libs/bootstrap/js/bootstrap.bundle.js"></script>

    </environment>
    <environment include="Production">

        <link href="~/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    </environment>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <style>
        body {
            padding-top: 70px;
            font-family: 'Fira Sans', sans-serif;
            font-family: 'Roboto', sans-serif;
        }
        .main {
            min-height: calc(100vh - 140px);
        }
    </style>
    @await RenderSectionAsync("styles", false)
</head>
<body>
    <navbar class="navbar bg-light navbar-expand-md fixed-top shadow-sm px-2">
        <div class="container-fluid">
            <span class="navbar-brand">Class 09 <sup>M8</sup></span>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nv" aria-controls="nv" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse" id="nv">
                <ul class="navbar-nav  me-auto">
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Home" class="nav-link">Home</a>
                    </li>
                    
                </ul>
                <ul class="navbar-nav">
                    @{
                        bool isJobProvider = false;
                        bool isJobSeeker = false;
                        var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                        var user = await userManager.FindByIdAsync(userId ?? "");
                        if(user != null)
                        {
                            isJobProvider = await userManager.IsInRoleAsync(user,"JobProvider");
                            isJobSeeker = await userManager.IsInRoleAsync(user, "JobSeeker");
                        }
                    }
                    @if (signInManager.IsSignedIn(User) && isJobProvider)
                    {
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="JobProviders" class="nav-link">Job Posts</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Profile" asp-controller="JobProviders" class="nav-link">Profile</a>
                        </li>
                    }
                    @if (signInManager.IsSignedIn(User) && isJobSeeker)
                    {
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="JobSeekers" class="nav-link">My Application</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Profile" asp-controller="JobSeeker" class="nav-link">Profile</a>
                        </li>
                    }
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a asp-action="Logout" asp-controller="Account" class="nav-link">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-action="Register" asp-controller="Account" class="nav-link">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>
                        </li>
                    }
                </ul>

            </div>
           
        </div>
    </navbar>
    <main class="container-fluid main">
        @RenderBody()
    </main>
    <footer class="container-fluid">
        &copy; @DateTime.Today.Year
    </footer>
    @await RenderSectionAsync("scripts", false)
</body>
</html>